/*

    COLORS

    Pink   : #ffdddd
    Purple : #ddddff
    Green  : #ddffdd
    Blue   : #ddffff
    Yellow : #ffffdd

    BREAKPOINTS

    600px
    1100px

*/

body{
    font-family: Palatino, Times, serif;
    background-color: #ddffdd;
    margin: 20px;
    font-size: 14px;
    line-height: 1.6;
}

ul{
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

h1, h2, h3{
    color: #009999;
}

h2, h3{
    margin-bottom: 0;
}

a{
    font-weight: bold;
    color: red;
    text-decoration: none;
}

a:hover{
    color: blue;
}

header{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddddff;
}

#site_container{
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#main_nav{
    text-align: center;
}

#main_nav a{
    display: block;
    padding: 10px 2%;
    background: #ffdddd;
    margin-bottom: 5px;
    border-radius: 5px;
}

#main_nav a:hover{
    background: #ddddff;
}




/************* MY OWN CSS ****************/
/********* MOBILE LAYOUT ***********/
#logo {
  text-align: center;
}

section#main_content {
  background-color: #dff;
  border-radius: 5px;
}

section#main_content > div {
  padding: 5px 20px;
  margin: 5px;
}

section#main_content > div:nth-child(2) {
  padding-bottom: 30px;
}

section#sidebar_content > div {
  background-color: #ffd;
  padding: 5px 20px 20px;
  margin: 20px 0;
}

footer#site_footer {
  background-color: #fda;
  padding: 20px;
  display: flex;
  justify-content: center;
}

footer#site_footer a {
  padding: 10px;
}






/******* TABLET BREAKPOINT **********/
@media (min-width: 600px) {
  nav#main_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  nav#main_nav a {
    flex-grow: 1;
    margin: 0 1%;
  }

  section#main_content h2 {
    margin-top: 0;
  }

  section#main_content > div:nth-last-child(1) {
    padding-bottom: 40px;
  }

  section#sidebar_content {
    display: flex;
    justify-content: space-between;
    background-color: #ffd;
    margin: 30px 0;
  }
}






/******* DESKTOP BREAKPOINT **********/
@media (min-width: 1100px) {
  header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  header h1#logo {
    text-align: left;
    flex-basis: 30%;
  }

  header nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  section#main_content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #dff;
  }

  section#main_content div:nth-child(2) {
    flex-basis: 45%; /**** don't know why but this one was the hardest to debug ******/
    padding-bottom: 0;
  }

  section#sidebar_content {
    display: flex;
    justify-content: space-between;
  }

  section#sidebar_content div {
    flex-grow: 1;
  }




}
